body {
    margin: 0%;
}

div{
    margin: 0%;
}

.background {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#random {
    position: absolute;  
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10% 20%;
    top: 130%;
}

audio {
    position: relative;
    z-index: 2;
}

#for-audio {
    position: absolute;
    top: 200%;
}